@{
  Layout = null;
}

<ul>
    <li><a href="/">Horae's Hoplites</a></li>
    <li>@Html.ActionLink("Tutorial", "Tutorial", "Home")</li>
    <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Home")</li>
    <li>@Html.ActionLink("Game", "Index", "Game")</li>
</ul>
@Html.Partial("_LoginPartial")