@{
  Layout = null;
}

@*This page is prewrapped with <header id="Masthead"> <div id="MastheadInner">*@

<div class="Logo">
  @*INSERT COMPANY LOGO HERE*@
</div>
<nav class="GlobalNav">
  @Html.Partial("_GlobalNav")
</nav>
