﻿@{
    ViewBag.Title = "Bestiary";
}

<section>
    <article class="person">
    
    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
</section>