﻿@{
    ViewBag.Title = "Bestiary";
}

<section class="plaque">
    <p>  During ages of trouble, the Horae, the goddesses of the seasons,
         would summon great warriors to fight on their behalf against
         their endless enemies.   All these warriors, sometimes as 
         groups and sometimes a lone warrior were selected to fight,
         to the death, against an oncoming tide of change. The greatest
         warriors’ names were written in the stars and on the hearts of
         their comrades.   How long do you think you will last as one of
         Horae’s Hoplites?
    </p>
    <article class="beast">
        <p> Leukrokottas – a fast clever creature with the body of a stag,
            a lion’s neck and a mouth with a sharp, ebony ridge of teeth.
            Sadistic and cruel, you must show them no mercy.  Viciously 
            clever and voraciously hungry, the leukrokotta (also known as
            the Hyena) will follow you and attempt to hunt you down until
            you deal with him.  The creatures are most deadly when they
            attack in groups.
        </p>
    </article>
    <article class="beast">
        <p> Myrmex- giants ants, the size of dogs, are moving from their
            native deserts into the lands of the Horae.  Weak and pathetic,
            but numerous as the sands on the seashore, these creatures are
            devouring the land and taking land from the natural creatures.
            Eliminate them within reason.
        </p>
    </article>
    <article class="beast">
        <p> Centaurs – half man, half horse savages that used to live in
            peace with the lands of Horae.  They have become agitated with
            the kings of man and are on the war path.  They have passed
            through the lands of the Horae without permission and have
            shown no respect. They are fast and dangerous. Avoid or destroy
            these interlopers.
        </p>
    </article>
    <article class="beast">
        <p> Medusa-a sad and pathetic creature, she is rare and deadly. A
            gorgon with a personal grudge against all gods and goddesses.
            The Horae have given you protection from her devastating gaze
            and the ability to temporarily banish her.
        </p>
    </article>
    <article class="beast">
        <p> Griffon- a beast with the head of an eagle and the body of a 
            lion. They swoop down fast and without warning.  Interested only
            in gold, the griffons are not natural beings. The Horae will
            reward you for dispatching these vile beasts.
        </p>
    </article>
</section>