﻿@{
    ViewBag.Title = "Bestiary";
}

<section class="plaque">
    <article class="beast">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel leo congue nisl venenatis dignissim eu ac velit. Morbi lacus metus, rhoncus efficitur sodales ac, facilisis a massa. Vestibulum quis egestas risus. Vivamus auctor faucibus turpis, bibendum sagittis ligula faucibus nec. Duis ut turpis vel eros efficitur laoreet. Aliquam non fringilla mi. Praesent mollis lacus ut felis ornare varius. Morbi ut mauris et nunc hendrerit suscipit.</p>
    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
</section>