﻿@{
    ViewBag.Title = "Bestiary";
}

<section>
    <article class="beast">
    
    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
    <article class="beast">

    </article>
</section>