@{
    ViewBag.Title = "The Team";
}

<section class="plaque">
    <h2 style="text-align: center;">The Team</h2>
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="Josh Stark" />
        <h3 class="name">Josh Stark</h3>
        <p>
            Josh is an established developer from Springfield MO. He enjoys problem solving and working
            with databases and information.   In his free time, he enjoys spending time with his family,
            reading, and programming.
        </p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="Jake Kemple" />
        <h3 class="name">Jake Kemple</h3>
        <p>
            Jake is a 22 year old developer from Kansas City, MO area. He emphasizes in .NET development,
            Web applications, and freelance IT work. In his free time he enjoys traveling the world,
            listening to classical, &amp; reading the latest quantum physics material <a href="http://www.jakekemple.com">More from Jake</a>
        </p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="Wesley Bench" />
        <h3 class="name">Wesley Bench</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend id augue sed volutpat. Nulla tempus leo mauris, vel dictum augue pulvinar non. Nam tincidunt enim nec dignissim viverra. Aliquam arcu ipsum, hendrerit a mattis et, interdum sed nunc. Donec vel rutrum odio. Quisque vehicula sit amet dui quis elementum. Vivamus rhoncus metus ac nibh vehicula cursus. Quisque blandit ac lacus vel ultricies. Aenean nec suscipit orci. Sed egestas dolor mi, in cursus tortor venenatis at. Pellentesque pulvinar justo sit amet consectetur pharetra. Vivamus et nibh nunc. Suspendisse consectetur cursus eros. Suspendisse consectetur enim ut dignissim placerat.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <p>Etiam eu pharetra tortor. Curabitur cursus, tortor non faucibus scelerisque, turpis est porta leo, ac dignissim metus purus vel velit. Donec dapibus dictum volutpat. Curabitur bibendum tortor non lorem eleifend tincidunt. Sed fringilla sed massa eu vehicula. Nullam facilisis dolor eu felis malesuada efficitur. Vivamus at semper quam. Praesent rhoncus magna dolor, nec volutpat tellus dapibus eget.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <p>Vestibulum sem diam, sagittis at mauris sit amet, condimentum faucibus nunc. Donec sollicitudin massa erat, et rutrum ligula ullamcorper et. Aliquam in tincidunt neque, ac ultricies nibh. Vivamus a rutrum lacus. Morbi vulputate ultrices hendrerit. Sed varius luctus ligula, auctor luctus ipsum pellentesque vitae. Duis vehicula faucibus dui, quis scelerisque tellus posuere eu. Mauris lorem dolor, convallis a ligula auctor, varius rhoncus ex. Mauris ut ante a tellus congue tincidunt et vel sapien. In elit leo, vulputate quis commodo sed, sodales sed nibh. Aliquam id nulla a nibh lobortis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nulla enim, ultricies ut vestibulum eget, viverra in felis. Nam quis mi ac erat rhoncus pulvinar. Aliquam finibus nibh sed massa laoreet sodales. Donec commodo posuere mauris quis tempor.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <p>Pellentesque elit ex, ullamcorper sed euismod eu, commodo a orci. Nunc consequat, lacus at aliquet pharetra, sapien mauris dignissim lectus, a ullamcorper ante elit nec velit. In ac justo venenatis, tempor quam vitae, sollicitudin ipsum. Ut et venenatis risus. Morbi dolor neque, tincidunt eu sagittis at, consequat id urna. Etiam auctor purus ac pulvinar pharetra. Etiam risus ante, pellentesque eu suscipit blandit, accumsan eu quam. Pellentesque sit amet consequat ex. Nam lacus dolor, rhoncus sit amet ex vitae, luctus tempor sem.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <p>Maecenas vel placerat diam, id suscipit lacus. Sed lacinia diam lectus, eget mattis ante accumsan at. Ut sodales efficitur sem et tincidunt. Sed ac nunc risus. Phasellus rutrum ipsum at mattis pulvinar. Morbi ullamcorper ligula nec nulla tempor gravida. Ut in velit ac est pellentesque viverra ac nec mauris.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <p>Etiam sed nisl at purus luctus suscipit. Proin pharetra urna nunc, vel vestibulum purus malesuada et. Morbi lacinia, ex sit amet consectetur tristique, ipsum nisi facilisis arcu, vel dapibus dolor enim quis sapien. Quisque at augue non nunc fringilla vulputate. Maecenas fringilla ac enim blandit ultrices. Nam efficitur, mauris non auctor sodales, felis metus tempus ligula, blandit rutrum quam mauris sed orci. Pellentesque vitae sagittis orci. Phasellus cursus ultricies urna. Aenean posuere, leo ac blandit condimentum, nisl mauris vulputate eros, ut semper ipsum nisl non arcu. Proin pulvinar ex quis elit sodales consequat. Phasellus eu aliquam felis. Vivamus aliquet dolor et quam luctus rhoncus.</p>
    </article>
</section>