@{
    ViewBag.Title = "The Team";
}

<section id="devs" class="plaque">
    <h2 style="text-align: center;">The Team</h2>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\developers\josh.jpg" alt="Josh Stark" />
        <h3 class="name">Josh Stark</h3>
        <p>
            Josh is an established developer from Springfield MO. He enjoys problem solving and working
            with databases and information. Josh was helped with a wide variety of things on Horaes Hoplites.
            Whether it be keeping the team on task, recording 
        </p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\developers\jake.jpg" alt="Jake Kemple" />
        <h3 class="name">Jake Kemple</h3>
        <p>
            At 22 years of age, Jake hails from the Kansas City, MO area. He emphasizes in .NET development,
            Web applications, and freelance IT work. On the project he was largely responsible for Enemy AI implementation and front-end website development.
        </p>
        <a href="http://www.jakekemple.com">More from Jake</a>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10009805_10204075217614071_3035348421143315057_n.jpg?oh=a85092baa665e7b5ef537d66dec26b06&oe=55D07FAE" alt="Wesley Bench" />
        <h3 class="name">Wesley Bench</h3>
        <p>Aspiring web developer and coder, Wesley was responsible for much of the front-end side of the Horaes Hoplites main website. 
           He has also helped on visual tasks within the group, such as the different seasons' generation, and played the role of the Project Owner within the group, 
           acting as a vital link between the customer and the developers.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <h3 class="name">Anton Kostyuchenko</h3>
        <p>Etiam eu pharetra tortor. Curabitur cursus, tortor non faucibus scelerisque, turpis est porta leo, ac dignissim metus purus vel velit. Donec dapibus dictum volutpat. Curabitur bibendum tortor non lorem eleifend tincidunt. Sed fringilla sed massa eu vehicula. Nullam facilisis dolor eu felis malesuada efficitur. Vivamus at semper quam. Praesent rhoncus magna dolor, nec volutpat tellus dapibus eget.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <h3 class="name">Ali Bajawa</h3>
        <p>Vestibulum sem diam, sagittis at mauris sit amet, condimentum faucibus nunc. Donec sollicitudin massa erat, et rutrum ligula ullamcorper et. Aliquam in tincidunt neque, ac ultricies nibh. Vivamus a rutrum lacus. Morbi vulputate ultrices hendrerit. Sed varius luctus ligula, auctor luctus ipsum pellentesque vitae. Duis vehicula faucibus dui, quis scelerisque tellus posuere eu. Mauris lorem dolor, convallis a ligula auctor, varius rhoncus ex. Mauris ut ante a tellus congue tincidunt et vel sapien. In elit leo, vulputate quis commodo sed, sodales sed nibh. Aliquam id nulla a nibh lobortis feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nulla enim, ultricies ut vestibulum eget, viverra in felis. Nam quis mi ac erat rhoncus pulvinar. Aliquam finibus nibh sed massa laoreet sodales. Donec commodo posuere mauris quis tempor.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <h3 class="name">Scott Jensen</h3>
        <p>Pellentesque elit ex, ullamcorper sed euismod eu, commodo a orci. Nunc consequat, lacus at aliquet pharetra, sapien mauris dignissim lectus, a ullamcorper ante elit nec velit. In ac justo venenatis, tempor quam vitae, sollicitudin ipsum. Ut et venenatis risus. Morbi dolor neque, tincidunt eu sagittis at, consequat id urna. Etiam auctor purus ac pulvinar pharetra. Etiam risus ante, pellentesque eu suscipit blandit, accumsan eu quam. Pellentesque sit amet consequat ex. Nam lacus dolor, rhoncus sit amet ex vitae, luctus tempor sem.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\default-user-image.png" alt="" />
        <h3 class="name">Sean Straus</h3>
        <p>Maecenas vel placerat diam, id suscipit lacus. Sed lacinia diam lectus, eget mattis ante accumsan at. Ut sodales efficitur sem et tincidunt. Sed ac nunc risus. Phasellus rutrum ipsum at mattis pulvinar. Morbi ullamcorper ligula nec nulla tempor gravida. Ut in velit ac est pellentesque viverra ac nec mauris.</p>
    </article>
    <hr />
    <article class="plaque_section">
        <img src="..\content\images\developers\klayton.jpg" alt="" />
        <h3 class="name">Klayton Hawkins</h3>
        <p>R.I.P.</p>
    </article>
</section>