﻿@{
    ViewBag.Title = "The Team";
}

<section class="plaque">
    <article class="person">
        <p> Josh is an established developer from Springfield MO. He enjoys problem solving and working
            with databases and information.   In his free time, he enjoys spending time with his family,
            reading, and programming.
        </p>
    </article>
    <article class="person">
        <p>Jake is a 22 year old developer from Kansas City, MO area. He emphasizes in .NET development,
        Web applications, and freelance IT work. In his free time he enjoys traveling the world,
        listening to classical, &amp; reading the latest quantum physics material   More from Jake:<a href="http://www.jakekemple.com">http://www.jakekemple.com</a></p>
    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
    <article class="person">

    </article>
</section>