@{
    ViewBag.Title = "Game";
}
@section HeadContent{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://code.createjs.com/createjs-2014.12.12.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./lib/Box2dWeb-2.1.a.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../Content/gamedemo/main.js" type="text/javascript" charset="utf-8"></script>
    <script>$(document).on("load", "console.log.run()", false)</script>}

<div class="game_canvas">
    <div id="canvas_container">
        <canvas id="myCanvas" style="border:2px solid #d4af37;"></canvas>
    </div>
</div>