@{
    ViewBag.Title = "Horae's Hoplites";
		ViewBag.Homepage = true;
}
<section class=front_page_game_wrapper>
    <!--For play button positioning-->
    <div class=front_page_game>
        <h1>HORAE'S HOPLITES</h1>
    </div>
</section>
<div class="front_page_border"></div>
<section class=front_page_main>
    <h1>PRESENTED BY</h1>
    <img src="../Content/images/logo1.png" alt="Shaded Pixels" />
    <article class=plaque>
        <p>SHADED PIXELS ANNOUNCES: HORAE'S HOPLITES!</p>
        <p>An up and coming multiplayer, procedurally generated, endless action-runner. The longer you go, the higher your score becomes!</p>
        <p>Play as a warrior of the Horae, the gods of the seasons, as you fight through each individual season and it's unique hazards. See how long you can last as the challenge becomes greater and greater.</p>
        <p><i>COMING SOON</i></p>
    </article>

</section>
<div class="front_page_border"></div>  