@{
    ViewBag.Title = "Horae's Hoplites";
    ViewBag.isHomepage = true;
}
<section class=front_page_game_wrapper>
    <!--For play button positioning-->
    <div class=front_page_game>
        <h1>HORAE'S HOPLITES</h1>
    </div>
</section>
<div class="front_page_border"></div>
<section class=front_page_main>
    <h2>PRESENTED BY</h2>
    <img src="~/Content/images/logo1.png" alt="Shaded Pixels" />
    <section class=plaque>
        <article class="plaque_section">
            <h3>More Enemies</h3>
            <p>You didn't think the trek would be easy did you? We have implemented a total of five mythological beasts, and they have no intention on making your journey an easy one!
               You can read more about the beasts and the story of the horae on our @Html.ActionLink("Lore", "Bestiary", "Home", new { @class = "linkColor" }) page.</p>
        </article>
        <hr />
        <article class="plaque_section">
            <h3>Seasons Implemented!</h3>
            <p>The four seasons that the Horae guard over have been implemented. You can now progress for years, or until you die!</p>
        </article>
        <hr />
        <article class="plaque_section">
            <h3>SHADED PIXELS ANNOUNCES: HORAE'S HOPLITES!</h3>
            <p>An up and coming multiplayer, procedurally generated, endless action-runner. The longer you go, the higher your score becomes!
            Play as a warrior of the Horae, the gods of the seasons, as you fight through each individual season and it's unique hazards. 
            See how long you can last as the challenge becomes greater and greater.</p>
        </article>
    </section>

</section>
<div class="front_page_border"></div>  