@{
    ViewBag.Title = "Home Page";
}

<div class="front_page">
    <h1>Insert Game Logo/Name</h1>
    <p class="button_style index_button">@Html.ActionLink("Game", "Game", "Home")</p>
</div>

<div class="front_page">
    <h1>Insert Company Logo</h1>
</div>

<div class="front_page">
    <p>
        *Insert Game Name*  is still in the early stages of developement. We are excited to bring you the beta test soon.
    </p>
</div>