﻿@{
    ViewBag.Title = "Home Page";
}
<div class = front_page_game_wrapper><!--For play button positioning-->
    <div class = front_page_game>
        <h1>HORAE'S HOPLITES</h1>
    </div>
    <p class="button_style play_button">@Html.ActionLink("PLAY NOW", "Game", "Home")</p>
</div>
<div class = front_page_main>
    <h1>PRESENTED BY Shaded Pixels</h1>
    <div class = front_page_news>
        <p>SHADED PIXELS ANNOUNCES: HORAE'S HOPLITES!</p> 
        <p>An up and coming multiplayer, procedurally generated, endless action-runner. The longer you go, the higher your score becomes!</p> 
        <p>Play as a warrior of the Horae, the gods of the seasons, as you fight through each individual season and it's unique hazards. See how long you can last as the challenge becomes greater and greater.</p>
        <p><i>COMING SOON</i></p>
    </div>
</div>