﻿@{
    ViewBag.Title = "Tutorial";
}

<div class="front_page_news text_center">
    <div id="front_page_middle">
        <div id="front_page_inner">
    <h1>@ViewBag.Title</h1>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/Y9XmHOio5jE" frameborder="0" allowfullscreen></iframe>
    <h2>Movement</h2>
    <p>Use the arrow keys in order to move your character.</p>
    <h2>Killing an Enemy</h2>
    <p>In order to kill an enemy just jump on them.</p>
    </div>
        </div>
</div>
<br/>