﻿@{
    ViewBag.Title = "Tutorial";
}

<div class="front_page_news text_center">
    <h1>@ViewBag.Title</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/80TXcfWs63s" frameborder="0" allowfullscreen></iframe>
    <h2>Movement</h2>
    <p>Use the arrow keys in order to move your character.</p>
    <h2>Killing an Enemy</h2>
    <p>In order to kill an enemy just jump on them.</p>
</div>