@{
  ViewBag.Title = "Game";
}
@section HeadContent{
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/gamescripts")
}
<html>
<head>
  <title></title>
</head>

<body>
    <audio id="music" src="~/GameCode/assets/art/adventure.mp3" loop="loop" preload="auto" autoplay="autoplay"></audio>
    <div class="game_canvas">
        <div id="screenPosition" style="margin-top:180px; position:absolute;"></div>
        <div id="canvas_container">
            <div class="playPause_button">
                <a href="javascript:void(0);" onclick="document.getElementById('music').muted = !document.getElementById('music').muted; return false"><img src="~/Content/Images/sound.png" id="mute_btn" /></a>
            </div>
            <a href="#screenPosition" id="default_position"></a>
            <canvas id="display_canvas"></canvas>
        </div>
        <section class="controls">
            <aside>
                <img src="../content/images/arrowKeys.png" alt="Arrow Keys" />
                <p>UP: Jump. Press twice to double jump!</p>
                <p>Down: Press mid-air to do a vertical slam!</p>
                <p>Left/Right: Run left/right.</p>
            </aside>
        </section>
        <div class="controlsShowHide"><a onclick="ToggleControls(this)"><h4>CONTROLS</h4></a></div>
    </div>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        //Load Game
        function start() {
            sidescroller_game.run();
        }
        window.onload = start;
    </script>
    <script>
        //Smooth Scroll for controls/tips/tutorial/whateveryouwanttocallit
        (function () {
            var ControlsSection = document.getElementsByClassName('controls')[0];

            var isShownRegex = /(^|\s)Shown(\s|$)/;

            window.ToggleControls = function (elem) {
                if (!ControlsSection) return;

                if (isShownRegex.test(ControlsSection.className)) {
                    ControlsSection.className = ControlsSection.className.replace(isShownRegex, ' ');
                } else {
                    ControlsSection.className += ' Shown';
                }
                ControlsSection.className = ControlsSection.className.trim();
            }
        })()

    </script>
</body>
</html>