@{
    ViewBag.Title = "Game";
}
@section HeadContent{
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/gamescripts")
    <script>
        function start() {
            sidescroller_game.run();
        }
        window.onload = start;
    </script>
}
<audio id="music" src="~/GameCode/assets/art/Silverware.mp3" preload="auto" autoplay="autoplay"></audio>
<div class="game_canvas">
    <div id="canvas_container">
        <canvas id="display_canvas" style="border:2px solid #d4af37;"></canvas>
    </div>
</div>
