@{
    ViewBag.Title = "Game";
}
@section HeadContent{
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/gamescripts")
    <script>
        function start() {
            sidescroller_game.run();
            arrow_key_scrolling(false);
        }
        window.onload = start;
    </script>
}

<div class="game_canvas">
    <audio id="music" src="assets/art/Silverware.mp3" preload="auto" autoplay="yes"></audio>
    <div id="canvas_container">
        <canvas id="display_canvas" style="border:2px solid #d4af37;"></canvas>
    </div>
</div>
