@{
    ViewBag.Title = "Game";
}
@section HeadContent{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://code.createjs.com/createjs-2014.12.12.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../Content/gamedemo/lib/Box2dWeb-2.1.a.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../Content/gamedemo/bundle.js" type="text/javascript" charset="utf-8"></script>
    <script src="../Content/gamedemo/no_scroll_canvas.js" type="text/javascript" charset="utf-8"></script>
    <script>
        function start() {
            sidescroller_game.run();
            arrow_key_scrolling(false);
        }
        window.onload = start;
    </script>
}

<div class="game_canvas">
    <div id="canvas_container">
        <canvas id="display_canvas" style="border:2px solid #d4af37;"></canvas>
    </div>
</div>